@{
    ViewData["Title"] = "Home Page";
    string url = ViewBag.Url;
}

<div class="text-center">
    <h1 class="display-4">Redirecting</h1>

    <a href=@url>Click here if not redirected automatically.</a>

    Need to have some JS to click the link onload.

</div>
